.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    max-width: 100%;
    height: 330px;
    margin: auto;
    border-style: groove;
}

#myCarousel {
  border-bottom: solid black;
  margin-top: -40px;
  margin-right: -50px;
}
