table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
  width: 90%;
  margin-left: 65px;
}

th, td {
    padding: 15px;
}

li {
  list-style-type: none;
  margin-left: -15px;
}

.refund {
  text-decoration: underline;
  margin-top: 25px;
}
