.wallpaper {
  margin-top: -20px;
  background-color: lightblue;
}

h3 {
  color: black;
  text-indent: 20px;
}

ul {
  text-indent: 20px;
}

li {
  color: black;
  font-weight: bold;
}

#myCarousel {
  border-bottom: solid black;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
