<div class="container">
  <h3> Welcome to the house of a beautiful coastal town that resides only a short drive away from San Francisco. The view from the property encompasses the ocean, beach and Highway 1. This is the perfect place for your family and friends to relax during the times you are not site seeing or resting for the next day. We hope to provide our tenants with a comfortable place that feels like a home away from home.</h3><br>
  <h3>Here you can enjoy the attractions that come with its location. Take a five-minute walk to beach where you can enjoy soaking up the sun or paddling out to surf. Spend the day or night exploring the city. It takes only 15 minutes to get to the airport and 20 minutes to get to San Francisco. The house if fully furnished with Wi-Fi and cable for six TVs. It is located within a quiet residential neighborhood.</h3>
  <br><br>
  <h3>DETAIL</h3>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h2>House:</h2>
      <ul>
        <li>5 bedrooms, 10 beds</li>
        <li>4 bathrooms</li>
        <li>Properity is 3,500 sqaure feet</li>
        <li>Kitchen stocked with utensils and other accessories</li>
        <li>Garage (fits 1 car)</li>
        <li>Washer and Dryer</li>
        <li>Backyard</li>
        <li>Deck with chairs and outdoor grill</li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h2>Other:</h2>
      <ul>
        <li>Primarily Vacation Rental</li>
        <li>Long-term rentals OK</li>
        <li>Children Welcome</li>
        <li>No pets</li>
        <li>Street parking</li>
        <li>Towels provided</li>
        <li>Not wheelchair accessible</li>
      </ul>
    </div>
  </div>
</div>
