

<script src="../public/js/location.js"></script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAzYzSh17etf6_J_BNwkVso4_Iqb_ldzQ&callback=initMap"></script>

<br>
<br>
<br>
<div id="map"></div>
<br>
<hr>
<br>


<div class="container">
  <div class="row" id="map-space">
    <div class="col-sm-6">
      <h3>Popular attractions</h3>
      <p></p>
      <p></p>
      <p></p>
    </div>
    <div class="col-sm-6">
      <h3>Upcoming events</h3>
      <p></p>
      <p></p>
      <p></p>
    </div>
  </div>
</div>
