<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <img src="img/GGBridge.jpg" class="img-circle" alt="Cinque Terre" width="120" height="100">
    </div>
    <div class="col-sm-10">
      <ul>
        <li>This home was bought in 1997 and remodeled in 2006.</li>
        <li>I speak English, Spanish and Portuguese fluently.</li>
        <li>I have been working as an engineer in the Silicon Valley for the past two decades.</li>
        <li>On every rental platform (e.g. Airbnb, VRBO) I have an answerring rate between 90%-100%</li>
      </ul>
    </div>
  </div>
</div>
