<br>
<br>
<br>
<div class="container">
  <div class="row" id="list">
    <div class="col-sm-2">
      <img src="img/GGBridge.jpg" class="img-circle" alt="Cinque Terre">
    </div>
    <div class="col-sm-10" id="owner-list-structure">
      <ul class="owner-list">
        <li>This home was bought in 1997 and remodeled in 2006.</li><br>
        <li>I speak English, Spanish and Portuguese fluently.</li><br>
        <li>I have been working as a software engineer in the Silicon Valley for the past two decades.</li><br>
        <li>On other rental sites (e.g. Airbnb, VRBO) I have an answerring rate between 90%-100%.</li><br>
      </ul>
    </div>
  </div>
</div>
