<div class="container">
  <h3>Rental Basis:</h3>
  <table style="width:100%">
    <tr>
      <th>Rate</th>
      <th>Weekday Night</th>
      <th>Weekend Night</th>
      <th>Weekly</th>
      <th>Monthly*</th>
    </tr>
    <tr>
      <td>Standard Rate</td>
      <td>$700</td>
      <td>$800</td>
      <td>$4,000</td>
      <td>$12,000</td>
    </tr>
    <tr>
      <td>Winter Rate</td>
      <td>$400</td>
      <td>$600</td>
      <td>$3,150</td>
      <td>$12,000</td>
    </tr>
    <tr>
      <td>Holiday Rate</td>
      <td>$800</td>
      <td>$800</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </table>

  <h3>Fees:</h3>
  <ul>
    <li>Refundable Damage Deposit $1000</li>
    <li>Cleaning Fee $300</li>
    <li>Tax Rate 10%</li>
  </ul>

  <h3>More:</h3>
  <ul>
    <li>Tenants must sign a rental agreement before starting their stay, it will be sent by the owner</li>
    <li>The maximum amount of guests allowed to stay must not exceed 10 people</li>
    <li>3 night minimum stay</li>
  </ul>

  <h3>Cancellation Policy: </h3>
  <ul>
    <li>100% of payment will be refunded if cancelled at least 30 days before the tenant's arrival date</li>
  </ul>
</div>
